[submodule "libsndfile"]
	path = libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "pffft"]
	path = pffft
	url = https://bitbucket.org/jpommier/pffft.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "minimp3"]
	path = minimp3
	url = https://github.com/lieff/minimp3.git
